<mdb-card>
<mdb-card-body>

<form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)">
  <div class="row">

    <div class="col-md-4">
      <h5 class="title">{{user.first_name}} {{user.last_name}}</h5>

      <div [ngSwitch]="img_file">
        <div *ngSwitchCase="0">
          <img src="{{ImgPath}}person.png" />
        </div>
        <div *ngSwitchCase="1">
          <img src="{{ImgPath}}{{user.photo}}" />
        </div>
        <div *ngSwitchCase="2">
          <img [src]="previewUrl"  />
        </div>
      </div>
   </div>

    <div class="col-md-4">
      <div class="pt-2">
        <label>First Name</label>
        <input id="first_name" type="text" formControlName="first_name" class="form-control form-control-sm" placeholder="First Name">
      </div>
      <div class="pt-2">
        <label>Last Name</label>
        <input id="last_name" type="text" formControlName="last_name" class="form-control form-control-sm" placeholder="Last Name">
      </div>
      <div class="pt-2">
        <label>Phone</label>
        <input id="phone" type="text" formControlName="phone" class="form-control form-control-sm" placeholder="phone">
      </div>
      <div class="pt-2">
        <label>Address</label>
        <input id="address" type="text" formControlName="address" class="form-control form-control-sm" placeholder="Home Address">
      </div>
      <div class="pt-2">
        <label >Change Photo</label>
        <input mdbFileSelect type="file" id="photo" class="form-control form-control-sm" (change)="fileProgress($event)" />
      </div>

    </div>

    <div class="col-md-4">
      <div class="pt-2">
        <label>RTUser</label>
        <input id="_id" type="number" formControlName="rtuser" size="3" class="form-control form-control-sm"/>
      </div>
      <div class="pt-2">
        <label>email</label>
        <input id="email" type="text" formControlName="email" class="form-control form-control-sm" disabled/>
      </div>
      <div class="pt-2">
        <label>Branch</label>
        <select class="form-control"
        formControlName=branch 
        (change)="ChangingValue($event)" [value]="user.branch">
          <option *ngFor="let branch of branches">
            {{branch}}
          </option>
        </select>
      </div>
      <div class="pt-2">
        <label>Category</label>
        <select class="form-control"
        formControlName=category 
        (change)="ChangingValue($event)" [value]="user.category">
          <option *ngFor="let category of categoryes">
            {{category}}
          </option>
        </select>
      </div>
      <div class="pt-2">
        <label>Role</label>
        <select class="form-control"
        formControlName=role 
        (change)="ChangingValue($event)" [value]="user.role">
          <option *ngFor="let role of roles">
            {{role}}
          </option>
        </select>
      </div>

      <div class="pt-2">
        <button type="submit" class="btn btn-outline-success btn-sm waves-effect">Update</button>
        <button class="btn btn-outline-danger btn-sm waves-effect" (click)="cancel()">Cancel</button>
      </div>

    </div>
    
  </div>
</form>
</mdb-card-body>
</mdb-card>
