
<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler" (click)="sidebarToggle()">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a class="navbar-brand" href="javascript:void(0)">{{getTitle()}}</a>
    </div>
    <button class="navbar-toggler" type="button" (click)="collapse()"
      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapseExample" [ngbCollapse]="isCollapsed">
        <div *ngIf="isUserLoggedIn">
          <div *ngIf="photo; else elseBlock">
            <img class="img-profile rounded-circle" src="{{ImgPath}}{{photo}}" height="40" width="40">
            <span> {{first_name}} {{last_name}}</span>
          </div>
          <ng-template #elseBlock> 
            <img class="img-profile rounded-circle" src="{{ImgPath}}person.png" width="40"/>
            <span> {{first_name}} {{last_name}}</span>
          </ng-template>
        </div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link btn-magnify" (click)="chat()">
            <i class="nc-icon nc-layout-11"></i>
            <p>
              <span class="d-lg-none d-md-block">Stats</span>
            </p>
          </a>
        </li>
        <li class="nav-item btn-rotate" ngbDropdown placement="bottom-left">
          <a class="nav-link" ngbDropdownToggle id="navbarDropdownMenuLink" >
            <i class="nc-icon nc-check-2"></i>
            <p>
              <span class="d-lg-none d-md-block">User</span>
            </p>
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu dropdown-menu-right">
            <a ngbDropdownItem (click)="startLogout()">Logout</a>
            <a ngbDropdownItem (click)="startUsers()" *ngIf="isAdmin">Users Management</a>
          </div>
        </li>
        <!--li class="nav-item">
          <a class="nav-link btn-rotate" (click)="settings()">
            <i class="nc-icon nc-settings-gear-65"></i>
            <p>
              <span class="d-lg-none d-md-block">Account</span>
            </p>
          </a>
        </li-->
      </ul>
    </div>
  </div>
</nav>
