
<mdb-card>
  <mdb-card-body>
    <table class="table table-hover table-sm">
      <tbody>
        <tr *ngFor="let act of action" (click)="UpdateActtion(act)" [ngStyle]="{ 'cursor':'pointer'}">
          <td>
            <action-type [actionType]="act.type"></action-type>
          </td>
          <td>
            <action-status [actionStatus]="act.status"></action-status>
          </td>
          <td>
            {{ act.create_date | date: 'dd/MM/yyyy'}}
          </td>
          <td style="text-align:right" dir="rtl">
            {{ act.subject }}
          </td>
          <td style="text-align:right" dir="rtl">
            {{ act.message }}
            <!--div *ngIf="act.type !== 'LID'; else elseBlock">
              {{ act.message }}
            </div>
            <ng-template #elseBlock> 
              LID
            </ng-template-->
          </td>
          <td>
            <div *ngIf="act.type === 'Appointment' || act.type === 'Task'; else elseBlock">
              {{ act.start_date | date: 'dd/MM/yyyy'}}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </mdb-card-body>
</mdb-card>